@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active {
    @apply text-black bg-blue-200 lg:bg-transparent
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* for category carousel start */
.browse-category .slick-prev {
  color: black !important;
  top: -40px !important;
  left: auto !important;
  right: 40px !important;
  font-size: 20px !important;
  padding: 5px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

.browse-category .slick-next {
  color: black !important;
  top: -40px !important;
  right: -1px !important;
  padding: 5px !important;
  font-size: 20px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}

.browse-category .slick-next:hover {
  background: ghostwhite !important;
}

.browse-category .slick-prev:hover {
  background: ghostwhite !important;
}

.browse-category .slick-list {
  margin-top: 63px !important;

}

.browse-category .slick-track {
  left: 3px !important;
}

.browse-category .slick-slide {
  padding-left: 0px !important
}

.browse-category .slick-prev::before,
.browse-category .slick-next::before {
  display: none;
}

@media (min-width:375px) {
  .browse-category .slick-slide {
    padding-left: 5px !important
  }
}

@media (min-width:412px) {
  .browse-category .slick-slide {
    padding-left: 12px !important
  }
}

/* for category carousel end */


/* for BannerOne Carousel start */
.bannerOne .slick-dots {
  bottom: 20px !important;
}

/* for BannerOne Carousel end */